<section class="pt-12">
  <div
    class="h-[calc(100dvh-3rem)] w-full flex justify-center items-center flex-col"
  >
    <div
      class="title relative mb-7 text-white text-3xl font-semibold pb-2 lg:mb-10 before:content-[''] before:absolute before:h-1 before:w-full before:bg-red-400 before:left-0 before:bottom-0"
    >
      <span
        class="relative text-white text-3xl font-semibold pb-2 sm:text-4xl md:text-5xl lg:text-3xl xl:text-4xl after:content-[''] after:absolute after:h-[2px] after:w-[80%] after:bg-red-400 after:left-1/2 after:-bottom-1 after:-translate-x-1/2"
        >Sobre Mi</span
      >
    </div>

    <!-- contenedor principal -->
    <div class="w-full grid lg:grid-cols-2 lg:gap-x-20">
      <div>
        <img
          src="main2.jpeg"
          alt=""
          class="object-cover object-top mb-2 w-full h-40 sm:h-72 md:h-[50dvh] lg:h-[44dvh]"
        />
      </div>

      <div>
        <div>
          <h2
            class="text-white text-2xl font-medium mb-2 sm:text-3xl md:text-5xl md:mb-9 lg:text-3xl lg:my-2 xl:text-[28px] xl:mb-4"
          >
            Ideas hechas código
          </h2>
          <p
            class="text-base mb-4 sm:text-xl md:text-[28px] lg:text-lg xl:text-xl"
          >
            Me centro en escribir código claro y fácil de mantener.
            Utilizo el ecosistema de Angular para estructurar interfaces dinámicas
            que conecten de forma fluida con las necesidades del proyecto
          </p>
        </div>

        <div class="my-2 self-baseline md:my-6">
          <a
          href="pdf/hoja_de_vida_Jhorjan_Martinez.pdf"
          target="_blank"
            class="inline-block px-4 py-2 bg-red-400 rounded-md text-white text-lg tracking-wide font-semibold border-2 border-red-400 transition-all duration-300 ease-in cursor-pointer sm:text-2xl sm:font-bold sm:pt-3 sm:pb-3 md:text-3xl md:py-3 lg:text-xl lg:py-1 lg:px-2 xl:text-xl xl:py-1 xl:px-2 hover:scale-105 hover:bg-black hover:text-red-400 hover:shadow-[0_0_25px_#b74b4b]"
          >
            Descargar Cv
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
